@font-face {

  font-family: 'Cubano Normal';

  src: local('Cubano Normal'), local('Cubano Normal'),
  url('./fonts/Cubano.ttf') format('truetype');

  font-weight: 400;
  font-style: normal;

}
*{
  font-family:"Cubano Normal",sans-serif ;
}